html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.body-content {
    flex: 1; /* ocupa todo el espacio disponible */
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    padding: 10px;
    text-align: center;
    z-index: 1030;
}