USE [CSMMYM]
GO
/****** Objeto: Table [dbo].[Contacto] Fecha de script: 24/7/2026 9:04:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacto](
	[id_contacto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[mensaje] [varchar](500) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[id_usuario_contacto] [int] NULL,
	[id_cotizacion] [int] NULL,
	[estado] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_contacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Cotizacion] Fecha de script: 24/7/2026 9:04:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cotizacion](
	[id_cotizacion] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario_creador] [int] NULL,
	[nombre] [varchar](100) NULL,
	[correo] [varchar](100) NULL,
	[detalle] [varchar](255) NULL,
	[fecha_creacion] [datetime] NOT NULL,
	[estado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cotizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Detalle_Cotizacion] Fecha de script: 24/7/2026 9:04:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Cotizacion](
	[id_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_cotizacion] [int] NOT NULL,
	[id_producto] [int] NULL,
	[id_servicio] [int] NULL,
	[cantidad] [int] NOT NULL,
	[duracion] [int] NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Pagina] Fecha de script: 24/7/2026 9:04:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagina](
	[id_pagina] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](100) NOT NULL,
	[contenido] [text] NOT NULL,
	[tipo] [varchar](50) NULL,
	[id_usuario_editor] [int] NULL,
	[fecha_edicion] [datetime] NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[seccion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pagina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Producto] Fecha de script: 24/7/2026 9:04:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[tipo] [varchar](50) NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[descripcion] [varchar](255) NULL,
	[estado] [varchar](20) NOT NULL,
	[imagen] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Respuesta] Fecha de script: 24/7/2026 9:04:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respuesta](
	[id_respuesta] [int] IDENTITY(1,1) NOT NULL,
	[id_cotizacion] [int] NULL,
	[id_usuario_autor] [int] NOT NULL,
	[mensaje] [varchar](500) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[IdContacto] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_respuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Rol] Fecha de script: 24/7/2026 9:04:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Servicio] Fecha de script: 24/7/2026 9:04:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicio](
	[id_servicio] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[tipo] [varchar](50) NULL,
	[precio_base] [decimal](10, 2) NULL,
	[estado] [varchar](20) NOT NULL,
	[imagen] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Usuarios] Fecha de script: 24/7/2026 9:04:33 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](50) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[correo] [varchar](100) NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[id_rol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contacto] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[Contacto] ADD  DEFAULT ('Nuevo') FOR [estado]
GO
ALTER TABLE [dbo].[Cotizacion] ADD  DEFAULT (getdate()) FOR [fecha_creacion]
GO
ALTER TABLE [dbo].[Pagina] ADD  CONSTRAINT [DF_PaginaContenido_fecha_edicion]  DEFAULT (getdate()) FOR [fecha_edicion]
GO
ALTER TABLE [dbo].[Pagina] ADD  CONSTRAINT [DF_PaginaContenido_estado]  DEFAULT ('activo') FOR [estado]
GO
ALTER TABLE [dbo].[Respuesta] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[Contacto]  WITH CHECK ADD  CONSTRAINT [FK_Contacto_Cotizacion] FOREIGN KEY([id_cotizacion])
REFERENCES [dbo].[Cotizacion] ([id_cotizacion])
GO
ALTER TABLE [dbo].[Contacto] CHECK CONSTRAINT [FK_Contacto_Cotizacion]
GO
ALTER TABLE [dbo].[Contacto]  WITH CHECK ADD  CONSTRAINT [FK_Contacto_Usuario] FOREIGN KEY([id_usuario_contacto])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Contacto] CHECK CONSTRAINT [FK_Contacto_Usuario]
GO
ALTER TABLE [dbo].[Cotizacion]  WITH CHECK ADD  CONSTRAINT [FK_Cotizacion_Usuario] FOREIGN KEY([id_usuario_creador])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Cotizacion] CHECK CONSTRAINT [FK_Cotizacion_Usuario]
GO
ALTER TABLE [dbo].[Detalle_Cotizacion]  WITH CHECK ADD  CONSTRAINT [FK_DetCot_Cotizacion] FOREIGN KEY([id_cotizacion])
REFERENCES [dbo].[Cotizacion] ([id_cotizacion])
GO
ALTER TABLE [dbo].[Detalle_Cotizacion] CHECK CONSTRAINT [FK_DetCot_Cotizacion]
GO
ALTER TABLE [dbo].[Detalle_Cotizacion]  WITH CHECK ADD  CONSTRAINT [FK_DetCot_Producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[Producto] ([id_producto])
GO
ALTER TABLE [dbo].[Detalle_Cotizacion] CHECK CONSTRAINT [FK_DetCot_Producto]
GO
ALTER TABLE [dbo].[Detalle_Cotizacion]  WITH CHECK ADD  CONSTRAINT [FK_DetCot_Servicio] FOREIGN KEY([id_servicio])
REFERENCES [dbo].[Servicio] ([id_servicio])
GO
ALTER TABLE [dbo].[Detalle_Cotizacion] CHECK CONSTRAINT [FK_DetCot_Servicio]
GO
ALTER TABLE [dbo].[Pagina]  WITH CHECK ADD  CONSTRAINT [FK_Pagina_Usuario] FOREIGN KEY([id_usuario_editor])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Pagina] CHECK CONSTRAINT [FK_Pagina_Usuario]
GO
ALTER TABLE [dbo].[Respuesta]  WITH CHECK ADD  CONSTRAINT [FK_Respuesta_Contacto] FOREIGN KEY([IdContacto])
REFERENCES [dbo].[Contacto] ([id_contacto])
GO
ALTER TABLE [dbo].[Respuesta] CHECK CONSTRAINT [FK_Respuesta_Contacto]
GO
ALTER TABLE [dbo].[Respuesta]  WITH CHECK ADD  CONSTRAINT [FK_Respuesta_Cotizacion] FOREIGN KEY([id_cotizacion])
REFERENCES [dbo].[Cotizacion] ([id_cotizacion])
GO
ALTER TABLE [dbo].[Respuesta] CHECK CONSTRAINT [FK_Respuesta_Cotizacion]
GO
ALTER TABLE [dbo].[Respuesta]  WITH CHECK ADD  CONSTRAINT [FK_Respuesta_Usuario] FOREIGN KEY([id_usuario_autor])
REFERENCES [dbo].[Usuarios] ([id_usuario])
GO
ALTER TABLE [dbo].[Respuesta] CHECK CONSTRAINT [FK_Respuesta_Usuario]
GO
ALTER TABLE [dbo].[Respuesta]  WITH CHECK ADD  CONSTRAINT [FK_Respuestas_Contacto] FOREIGN KEY([IdContacto])
REFERENCES [dbo].[Contacto] ([id_contacto])
GO
ALTER TABLE [dbo].[Respuesta] CHECK CONSTRAINT [FK_Respuestas_Contacto]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([id_rol])
REFERENCES [dbo].[Rol] ([id_rol])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [dbo].[Detalle_Cotizacion]  WITH CHECK ADD  CONSTRAINT [CK_DetCot_Producto_Servicio] CHECK  (([id_producto] IS NOT NULL AND [id_servicio] IS NULL OR [id_producto] IS NULL AND [id_servicio] IS NOT NULL))
GO
ALTER TABLE [dbo].[Detalle_Cotizacion] CHECK CONSTRAINT [CK_DetCot_Producto_Servicio]
GO
/****** Objeto: StoredProcedure [dbo].[Contacto_ID] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Contacto_ID]
@id_contacto INT
AS
BEGIN

SELECT 
    id_contacto,
    nombre,
    correo,
    mensaje,
    fecha,
    estado
FROM Contacto
WHERE id_contacto = @id_contacto

END

GO
/****** Objeto: StoredProcedure [dbo].[Contacto_Lista] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Contacto_Lista]
AS
BEGIN

SELECT 
    id_contacto,
    nombre,
    correo,
    mensaje,
    fecha,
    estado
FROM Contacto
ORDER BY fecha DESC

END
GO
/****** Objeto: StoredProcedure [dbo].[Cotizacion_Insert] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Cotizacion_Insert]
(
    @id_usuario_creador INT,
    @nombre VARCHAR(100),
    @correo VARCHAR(100),
    @detalle VARCHAR(255)
)
AS
BEGIN

INSERT INTO Cotizacion
(
    id_usuario_creador,
    nombre,
    correo,
    detalle,
    fecha_creacion,
    estado
)

VALUES
(
    @id_usuario_creador,
    @nombre,
    @correo,
    @detalle,
    GETDATE(),
    'pendiente'
)

END

GO
/****** Objeto: StoredProcedure [dbo].[Delete_Pagina] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Delete_Pagina]
    @id_pagina INT,
    @id_usuario_editor INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Pagina
    SET
        estado = 'inactivo',
        id_usuario_editor = @id_usuario_editor,
        fecha_edicion = GETDATE()
    WHERE id_pagina = @id_pagina;
END;
GO
/****** Objeto: StoredProcedure [dbo].[Insert_PaginaContenido] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Insert_PaginaContenido]
    @titulo VARCHAR(100),
    @contenido VARCHAR(MAX),
    @tipo VARCHAR(50),
    @seccion VARCHAR(50) = NULL,
    @estado VARCHAR(20) = 'activo',
    @id_usuario_editor INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Pagina (
        titulo,
        contenido,
        tipo,
        seccion,
        estado,
        id_usuario_editor,
        fecha_edicion
    )
    VALUES (
        @titulo,
        @contenido,
        @tipo,
        @seccion,
        @estado,
        @id_usuario_editor,
        GETDATE()
    );

    SELECT SCOPE_IDENTITY() AS id_pagina;
END;
GO
/****** Objeto: StoredProcedure [dbo].[Insert_Producto] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[Insert_Producto]

    --Parametros-- 
	@nombre varchar(100),
	@tipo varchar (50),
	@precio decimal(10,2),
	@descripcion varchar(255),
	@estado varchar(20),
	@imagen VARCHAR(255)


AS
BEGIN
		insert Producto values(@nombre,@tipo,@precio,@descripcion,@estado,@imagen)
END
GO
/****** Objeto: StoredProcedure [dbo].[Insert_Servicio] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[Insert_Servicio]

    --Parametros-- 
	@nombre varchar(100),
	@tipo varchar (50),
	@precio_base decimal(10,2),
	@estado varchar(20),
	@imagen varchar(255)

AS
BEGIN
		insert Servicio values(@nombre,@tipo,@precio_base,@estado,@imagen)
END
GO
/****** Objeto: StoredProcedure [dbo].[PaginaContenido_ListByTipo] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PaginaContenido_ListByTipo]
    @tipo VARCHAR(50)
AS
BEGIN
    SELECT
        id_pagina,
        titulo,
		contenido,
        seccion,
        estado
    FROM Pagina
    WHERE tipo = @tipo
    ORDER BY seccion;
END;
GO
/****** Objeto: StoredProcedure [dbo].[PaginaContenido_Update] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PaginaContenido_Update]
    @id_pagina INT,
    @titulo VARCHAR(100),
    @contenido VARCHAR(MAX),
    @tipo VARCHAR(50),
    @seccion VARCHAR(50) = NULL,
    @estado VARCHAR(20),
    @id_usuario_editor INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Pagina
    SET
        titulo = @titulo,
        contenido = @contenido,
        tipo = @tipo,
        seccion = @seccion,
        estado = @estado,
        id_usuario_editor = @id_usuario_editor,
        fecha_edicion = GETDATE()
    WHERE id_pagina = @id_pagina;
END;
GO
/****** Objeto: StoredProcedure [dbo].[ProductoUpdate] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductoUpdate]
	--Parametro
	@id_producto int,
	@nombre varchar(100),
	@tipo varchar(50),
	@precio decimal(20,2),
	@descripcion varchar(255),
	@imagen varchar (255)
AS
BEGIN
	UPDATE Producto
	SET	nombre=@nombre,tipo=@tipo,precio=@precio,descripcion=@descripcion,imagen=@imagen
	WHERE id_producto=@id_producto
END
GO
/****** Objeto: StoredProcedure [dbo].[Reporte_Productos] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Reporte_Productos]
AS
BEGIN
    SELECT 
        id_producto,
        nombre,
        precio,
        tipo,
        estado
    FROM Producto
END
GO
/****** Objeto: StoredProcedure [dbo].[Reporte_Servicio] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Reporte_Servicio]
AS
BEGIN
    SELECT 
        id_servicio,
        nombre,
        precio_base,
        tipo,
        estado
    FROM Servicio
END
GO
/****** Objeto: StoredProcedure [dbo].[Respuesta_Insert] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Respuesta_Insert]
	@id_contacto INT,
    @mensaje VARCHAR(500)
AS
BEGIN
    INSERT INTO Respuesta
    (
        IdContacto,
        mensaje,
        fecha
    )
    VALUES
    (
        @id_contacto,
        @mensaje,
        GETDATE()
    )


END
GO
/****** Objeto: StoredProcedure [dbo].[Respuesta_ListarPorCotizacion] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Respuesta_ListarPorCotizacion]
(
    @id_cotizacion INT
)
AS
BEGIN

SELECT
    R.id_respuesta,
    R.mensaje,
    R.fecha,
    U.nombre AS autor
FROM Respuesta R
LEFT JOIN Usuarios U
ON R.id_usuario_autor = U.id_usuario
WHERE R.id_cotizacion = @id_cotizacion
ORDER BY R.fecha ASC

END
GO
/****** Objeto: StoredProcedure [dbo].[RetornaPaginaContenido_ID] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RetornaPaginaContenido_ID]
    @id_pagina INT
AS
BEGIN
    SELECT *
    FROM Pagina
    WHERE id_pagina = @id_pagina;
END;
GO
/****** Objeto: StoredProcedure [dbo].[RetornaProducto_ID] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RetornaProducto_ID] 
	-- Add the parameters for the stored procedure here		  
          @id_producto int
AS
BEGIN
SELECT
    id_producto,
	nombre,
	precio,
	tipo,
	descripcion,
	imagen
FROM Producto
WHERE id_producto = @id_producto 
END
GO
/****** Objeto: StoredProcedure [dbo].[RetornaServicio_ID] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RetornaServicio_ID] 
	-- Add the parameters for the stored procedure here		  
          @id_servicio int
AS
BEGIN
SELECT
    id_servicio,
	nombre,
	tipo,
	precio_base,
	imagen
FROM Servicio
WHERE id_servicio = @id_servicio 
END
GO
/****** Objeto: StoredProcedure [dbo].[Rol_Listar] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Rol_Listar]
AS
BEGIN
    SELECT id_rol, nombre
    FROM Rol
    ORDER BY nombre;
END
GO
/****** Objeto: StoredProcedure [dbo].[Rol_Select] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Rol_Select]
AS
BEGIN
    SELECT 
        id_rol,
        nombre
    FROM Rol
END
GO
/****** Objeto: StoredProcedure [dbo].[Select_Producto] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Select_Producto]
AS
BEGIN
    SELECT  
	   id_producto,
       nombre,
	   tipo,
	   precio,
	   descripcion,
	   estado,
	   imagen
    FROM Producto
END;
GO
/****** Objeto: StoredProcedure [dbo].[Select_Servicio] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Select_Servicio]
AS
BEGIN
    SELECT  
		id_servicio,
       nombre,
	   tipo,
	   precio_base,
	   estado,
	   imagen
    FROM Servicio
END;

GO
/****** Objeto: StoredProcedure [dbo].[SelectPaginaContenido] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectPaginaContenido]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        id_pagina,
        titulo,
        tipo,
        seccion,
        estado,
        fecha_edicion
    FROM Pagina
    ORDER BY fecha_edicion DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[ServicioUpdate] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ServicioUpdate]
	--Parametro
	@id_servicio int,
	@nombre varchar(100),
	@tipo varchar(50),
	@precio_base decimal(20,2),
	@imagen varchar(255)
AS
BEGIN
	UPDATE Servicio
SET nombre=@nombre,
    tipo=@tipo,
    precio_base=@precio_base,
    imagen=@imagen
WHERE id_servicio=@id_servicio
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_DeshabilitarProducto] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeshabilitarProducto]
    @id_producto INT
AS
BEGIN
    UPDATE Producto
    SET estado = 'inactivo'
    WHERE id_producto = @id_producto
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_DeshabilitarSeccion] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeshabilitarSeccion]
    @id_pagina INT
AS
BEGIN
    UPDATE Pagina
    SET estado = 'inactivo'
    WHERE id_pagina = @id_pagina
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_DeshabilitarServicio] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeshabilitarServicio]
    @id_servicio INT
AS
BEGIN
    UPDATE Servicio
    SET estado = 'inactivo'
    WHERE id_servicio = @id_servicio
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_DeshabilitarUsuario] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeshabilitarUsuario]
    @id_usuario INT
AS
BEGIN
    UPDATE Usuarios
	SET estado = 'Inactivo'
	WHERE id_usuario = @id_usuario

END
GO
/****** Objeto: StoredProcedure [dbo].[sp_HabilitarProducto] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HabilitarProducto]
    @id_producto INT
AS
BEGIN
    UPDATE Producto
    SET estado = 'activo'
    WHERE id_producto = @id_producto
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_HabilitarSeccion] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HabilitarSeccion]
    @id_pagina INT
AS
BEGIN
    UPDATE Pagina
    SET estado = 'activo'
    WHERE id_pagina = @id_pagina
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_HabilitarServicio] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HabilitarServicio]
    @id_servicio INT
AS
BEGIN
    UPDATE Servicio
    SET estado = 'activo'
    WHERE id_servicio = @id_servicio
END
GO
/****** Objeto: StoredProcedure [dbo].[sp_HabilitarUsuario] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HabilitarUsuario]
    @id_usuario INT
AS
BEGIN
    UPDATE Usuarios
	SET estado = 'Activo'
	WHERE id_usuario = @id_usuario

END
GO
/****** Objeto: StoredProcedure [dbo].[sp_PaginaContenido_Get] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_PaginaContenido_Get]
    @tipo VARCHAR(50),
    @seccion VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1
        id_pagina,
        titulo,
        contenido,
        tipo,
        seccion,
        estado,
        id_usuario_editor,
        fecha_edicion
    FROM Pagina
    WHERE tipo = @tipo
      AND (@seccion IS NULL OR seccion = @seccion)
      AND estado = 'activo'
    ORDER BY fecha_edicion DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[Usuario_CambiarContrasena] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usuario_CambiarContrasena]
(
    @id_usuario INT,
    @contrasena VARCHAR(255)
)
AS
BEGIN
    UPDATE Usuarios
    SET contrasena = @contrasena
    WHERE id_usuario = @id_usuario
END
GO
/****** Objeto: StoredProcedure [dbo].[Usuario_Insert] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usuario_Insert]
(
    @usuario VARCHAR(50),
    @nombre VARCHAR(100),
    @correo VARCHAR(100),
	@contrasena VARCHAR(255),
	@estado VARCHAR(50),
    @id_rol INT   
)
AS
BEGIN
    INSERT INTO Usuarios
    (
        usuario,
        nombre,
		correo,
		contrasena,
        estado,
        id_rol
    )
    VALUES
    (
        @usuario,
        @nombre,
        @correo,
        @contrasena,
        @estado,
		@id_rol
    )
END
GO
/****** Objeto: StoredProcedure [dbo].[Usuario_Select] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usuario_Select]
AS
BEGIN
    SELECT 
        u.id_usuario,
        u.nombre,
        u.usuario,
        u.estado,
        r.nombre AS nombre_rol
    FROM Usuarios u
    INNER JOIN Rol r
        ON u.id_rol = r.id_rol
END
GO
/****** Objeto: StoredProcedure [dbo].[Usuario_Select_Id] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usuario_Select_Id]
(
    @id_usuario INT
)
AS
BEGIN
    SELECT 
        u.id_usuario,
        u.nombre,
        u.usuario,
        u.estado,
        u.id_rol
    FROM Usuarios u
    WHERE u.id_usuario = @id_usuario
END
GO
/****** Objeto: StoredProcedure [dbo].[Usuario_Update] Fecha de script: 24/7/2026 9:04:34 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Usuario_Update]
(
    @id_usuario INT,
    @nombre VARCHAR(100),
    @usuario VARCHAR(50),
    @id_rol INT,
    @estado VARCHAR(50)
)
AS
BEGIN
    UPDATE Usuarios
    SET
        nombre = @nombre,
        usuario = @usuario,
        id_rol = @id_rol,
        estado = @estado
    WHERE id_usuario = @id_usuario
END
GO
